.main-quiz-holder {
	margin: 0 auto 70px;
	position: relative;
	background: #FCFCFC;
	border: 1px solid #dedede;
	box-shadow: 0 1px 5px #D9D9D9, inset 0 10px 20px #F1F1F1;
	-o-box-shadow: 0 1px 5px #D9D9D9, inset 0 10px 20px #F1F1F1;
	-webkit-box-shadow: 0 1px 5px #D9D9D9, inset 0 10px 20px #F1F1F1;
	-moz-box-shadow: 0 1px 5px #D9D9D9, inset 0 10px 20px #F1F1F1;
	border-radius: 20px 2px 20px 2px;
	position: relative;
	width: 600px;
}

.main-quiz-holder * {
	margin: 0;
	padding: 0;
	font-family: "Microsoft yahei", sans-serif;
}


.main-quiz-holder .search-input{
	padding-left: 10px;
	border: 2px solid #377bee;
	border-radius: 5px;
    height: 36px;
    width:300px;
	text-decoration: none;
	color: #6C6C6C;
}

.main-quiz-holder .slide-container {
	width: 500px;
	padding: 20px 50px 50pt 50px;
	text-align: center;
}


.main-quiz-holder .search-btn{
	display: block;
	width: 76px;
    font-size: 16px;
    height: 40px;
    border-radius: 5px;
    padding: 0 12px;
    float: left;
    line-height: 40px;
    background: #377bee;
    color: #fff;
	font-weight: bold;
	text-align: center;
	margin-left: 200px;
}

.main-quiz-holder .search-btn:hover{
	background: #73b52d;
}


.jquizzy-clear {
	clear: both;
}


.search-box .title {
	position: relative
}

.search-box {
	color: #888;
	font-size: 14px
}

.search-box table {
	margin-top: 20px;
}


.search-box th {
	font-weight: 400;
	padding: 2px;
	text-align: center;
	line-height: 20px;
	color: #bcbcbc
}

.search-box  th p {
	border-bottom: 3px solid #c3d7fa;
	padding-bottom: 5px
}

.search-box  td {
	padding: 15px 2px 5px;
	text-align: center
}

.search-box td div {
	color: #377bee;
}

.search-box td p {
	text-align: left;
}

.search-box .control-btn {
	text-align: center;
	display: inline-flex;
    height: 40px;
    border-radius: 5px;
    padding: 0 12px;
    line-height: 40px;
    background: #377bee;
    color: #fff;
	font-weight: bold;
}

.search-box .control-btn:hover{
	background: #73b52d;
}

.search-box .title .right {
	position: absolute;
	right: 20px
}

.search-box .title .right .paging {
	background: url(../../img/v2/hp2.png?_=20140624) -1px -373px no-repeat;
	width: 19px;
	height: 19px;
	display: inline-block;
	margin-left: 10px
}

.search-box .content {
	padding: 20px 0 20px 20px
}

.search-box .content ul {
	width: 1000px;
	margin-top: 20px;
	overflow: hidden
}

.search-box .content ul li {
	float: left;
	width: 202px;
	height: 190px;
	overflow: hidden;
	margin-right: 40px
}

.search-box .content ul li a {
	color: #377bee
}

.search-box .content ul li .img {
	width: 60px;
	height: 60px;
	display: inline-block;
	float: left;
	text-align: center
}

.search-box .content ul li .img img {
	max-width: 60px;
	height: 60px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px
}

.search-box .content ul li dl {
	margin-left: 70px;
	line-height: 20px
}

.search-box .content ul li dl dt {
	font-size: 16px
}

.search-box .content ul li dl dt .level {
	font-size: 12px
}

.search-box .content ul li dl dd {
	font-size: 14px;
	color: #888
}

.search-box .content ul li dl dd.orange {
	color: #f9a821
}

.search-box .content ul li .bottom {
	margin-top: 10px;
	background: #f5f5f5;
	padding: 10px;
	color: #333;
	font-size: 14px;
	line-height: 20px;
	position: relative;
	height: 100px
}

.search-box .content ul li .bottom i.top {
	left: 15px;
	position: absolute;
	top: -8px;
	background: url(../../img/v2/hp2.png?_=20140624) -10px -436px no-repeat;
	width: 10px;
	height: 8px
}

.search-box .content ul li .bottom i.flag {
	background: url(../../img/v2/hp2.png?_=20140624) -121px -34px no-repeat;
	width: 12px;
	height: 9px;
	display: inline-block;
	margin-bottom: 3px
}

.search-box .content li.last {
	padding-right: 0
}

.search-box .content .bx-wrapper {
	position: relative
}

.search-box .content .bx-controls {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%
}

.doctor-box .title {
	position: relative
}

.doctor-box {
	color: #888;
	font-size: 14px
}

.doctor-box table {
	margin-top: 20px;
}


.doctor-box th {
	font-weight: 400;
	padding: 2px;
	text-align: center;
	line-height: 20px;
	color: #bcbcbc
}

.doctor-box  th p {
	border-bottom: 3px solid #c3d7fa;
	padding-bottom: 5px
}

.doctor-box  td {
	padding: 15px 2px 5px;
	text-align: center
}

.doctor-box td div {
	color: #377bee;
}

.doctor-box td p {
	text-align: left;
}

.doctor-box .control-btn {
	text-align: center;
	display: inline-flex;
    height: 40px;
    border-radius: 5px;
    padding: 0 12px;
    line-height: 40px;
    background: #377bee;
    color: #fff;
	font-weight: bold;
}

.doctor-box .control-btn:hover{
	background: #73b52d;
}

.doctor-box .title .right {
	position: absolute;
	right: 20px
}

.doctor-box .title .right .paging {
	background: url(../../img/v2/hp2.png?_=20140624) -1px -373px no-repeat;
	width: 19px;
	height: 19px;
	display: inline-block;
	margin-left: 10px
}

.doctor-box .content {
	padding: 20px 0 20px 20px
}

.doctor-box .content ul {
	width: 1000px;
	margin-top: 20px;
	overflow: hidden
}

.doctor-box .content ul li {
	float: left;
	width: 202px;
	height: 190px;
	overflow: hidden;
	margin-right: 40px
}

.doctor-box .content ul li a {
	color: #377bee
}

.doctor-box .content ul li .img {
	width: 60px;
	height: 60px;
	display: inline-block;
	float: left;
	text-align: center
}

.doctor-box .content ul li .img img {
	max-width: 60px;
	height: 60px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px
}

.doctor-box .content ul li dl {
	margin-left: 70px;
	line-height: 20px
}

.doctor-box .content ul li dl dt {
	font-size: 16px
}

.doctor-box .content ul li dl dt .level {
	font-size: 12px
}

.doctor-box .content ul li dl dd {
	font-size: 14px;
	color: #888
}

.doctor-box .content ul li dl dd.orange {
	color: #f9a821
}

.doctor-box .content ul li .bottom {
	margin-top: 10px;
	background: #f5f5f5;
	padding: 10px;
	color: #333;
	font-size: 14px;
	line-height: 20px;
	position: relative;
	height: 100px
}

.doctor-box .content ul li .bottom i.top {
	left: 15px;
	position: absolute;
	top: -8px;
	background: url(../../img/v2/hp2.png?_=20140624) -10px -436px no-repeat;
	width: 10px;
	height: 8px
}

.doctor-box .content ul li .bottom i.flag {
	background: url(../../img/v2/hp2.png?_=20140624) -121px -34px no-repeat;
	width: 12px;
	height: 9px;
	display: inline-block;
	margin-bottom: 3px
}

.doctor-box .content li.last {
	padding-right: 0
}

.doctor-box .content .bx-wrapper {
	position: relative
}

.doctor-box .content .bx-controls {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%
}

.g-left .gb-text-btn {
	text-align: center;
	display: inline-flex;
    border-radius: 5px;
    padding: 0 20px;
    line-height: 30px;
    background: #3D9EE9;
    color: #fff;
	font-weight: bold;
}

.g-left .gb-text-btn:hover{
	background: #73b52d;
}

.auth-line {
	text-align:center;
}

.gfm-call{
	  display:inline;
	  margin:1.714285714rem;
      line-height: 1.714285714;
	  font-size: 18px;
	  padding: 1.2em 2.5em 1em;
	  background-color: #a5d16d;
	  box-shadow: 0 0 5px #a4cf6c inset, 0 1px 1px #eee;
	  text-align: center;
	  vertical-align: baseline;
}

.gfm-next{
	  display:inline;
	  margin:1.714285714rem;
      line-height: 1.714285714;
	  font-size: 18px;
	  padding: 1.2em 2.5em 1em;
	  background-color: #93d0ea;
	  box-shadow: 0 0 5px #8fcde7 inset, 0 1px 1px #eee;
	  text-align: center;
	  vertical-align: baseline;
}

.gfm-next:hover{
	  display:inline;
	  margin:1.714285714rem;
      line-height: 1.714285714;
	  font-size: 18px;
	  padding: 1.2em 2.5em 1em;
	  background-color: #3D9EE9;
	  box-shadow: 0 0 5px #a4cf6c inset, 0 1px 1px #eee;
	  text-align: center;
	  vertical-align: baseline;
}

.gfm-call:hover{
	  display:inline;
	  margin:1.714285714rem;
      line-height: 1.714285714;
	  font-size: 18px;
	  padding: 1.2em 2.5em 1em;
	  background-color: #3D9EE9;
	  box-shadow: 0 0 5px #8fcde7 inset, 0 1px 1px #eee;
	  text-align: center;
	  vertical-align: baseline;
}

.gfm-call a, .gfm-next a {
	  margin-right: 16px;
	  margin-bottom: 10px;
	  display: inline-block;
	  text-transform: uppercase;
	  padding: 1em 1.5em 0.75em;
	  border-radius: 2px;
	  font-weight: bold;
	  border: none;
	  color: #fff !important;
	  text-decoration: none;
	  font-family: 'Open Sans Condensed',sans-serif;
	  font-size: 14px;
	  line-height: 1;
	  outline: none;
}

.gfm-call a:hover, .gfm-next a:hover {
	 text-decoration: none;
}